body {
    margin: 10px;
}

#contribute {
    padding-right: 10px;
    float: right;
    text-decoration: underline
}

/* Tables */
table {
    font-size: 10pt;
}

tfoot {
    display: table-header-group;
}

tbody > tr:hover {
    background-color: #ff8200 !important
}
/* Dashboard */
.bar:hover {
    fill: #d6dade;
    stroke: #ff8200;
    stroke-width: 3px;
}

#stats {
    width: 85%;
    left: 15%;
    position: relative;
}

.statBox {
    height: 350px;
    width: 20%;
    float: left;
    font-size: 3em;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #ff8200;
    color: white;
}

.stat {
    width: 100%;
    font-size: 3em;
    text-align: center;
}

.fitText {
    font-size: 2em;
}

.commentary {
    font-size: 1em;
    font-weight: bold;
}