{{> header }}
     <table id="data-table" class="table table-striped">
        <thead>
            <tr>
                <th class="filter:text id">Name</th>
                <th class="filter:text">Endpoint</th>
                <th class="filter:select">Region</th>
                <th class="filter:select">Size</th>
                <th class="filter:select">Engine</th>
                <th class="filter:select">Status</th>
                <th class="filter:select">Nodes</th>
                <th class="filter:select">Account</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
        {{#caches}}
            <tr>
                <td>{{id}}</td>
                <td>{{endpoint}}</td>
                <td>{{location.region}}</td>
                <td>{{type}}</td>
                <td>{{engine}} {{engineVersion}}</td>
                <td>{{status}}</td>
                <td>{{nodeCount}}</td>
                <td>{{location.profile.name}}</td>
            </tr>
        {{/caches}}
        </tbody>
    </table>
{{> footer }}